.notificacao{
  padding: 10px 10px 10px 5px;
  position: fixed;
  left: 0;
  top: 20%;
  background-color: rgb(11, 207, 145);
  color: #fff;
  border-radius: 0 5px 5px 0;
  font-weight: bold;
  z-index: 2;
}